.text-center{
    text-align: center;
}
.c-white{
    color:white !important;
}
.tachado{
    text-decoration: line-through;
}
.box-empty{
    color:#C7C7C7;
    padding-top:40%;
}
.icon-big{
    font-size: 100px;
}
.box-empty p{
    font-size:30px;
}